/* Responsive */
@media (max-width: 1200px) {
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    background: linear-gradient(180deg, #003366, #005f99);
    flex-direction: column;
    width: 220px;
    height: 100vh;
    gap: 20px;
    padding-top: 30px;
    transition: right 0.4s ease;
  }
  .nav-links.open {
    right: 0;
    width: 100%;
    top: 55px;
  }
  .menu-toggle {
    display: flex;
  }
  .nav-links a {
    font-size: 17px;
  }
  .hero-buttons {
    right: 58%;
    bottom: 40%;
  }
  .hr-btn {
    padding: 5px 25px;
  }
  .charter-img img {
    width: 130%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    right: 30px;
  }
  .purchase-img img {
    width: 130%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    right: 30px;
  }
  .crew-img img {
    width: 130%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    right: 30px;
  }
  .about-us-section {
    margin-top: 100px;
  }
  .aboutus-img img {
    width: 100%;
    position: absolute;
  }
  .aboutus-content {
    text-align: center;
    background-color: #fff;
    width: 60% !important;
    position: relative;
    top: 423px;
    padding: 80px;
  }
  .aboutus-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .aboutus-content p {
    color: #707070;
    line-height: 50px;
  }
}
@media (max-width: 992px) {
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    background: linear-gradient(180deg, #003366, #005f99);
    flex-direction: column;
    width: 220px;
    height: 100vh;
    gap: 20px;
    padding-top: 30px;
    transition: right 0.4s ease;
  }
  .nav-links.open {
    right: 0;
    width: 100%;
    top: 55px;
  }
  .menu-toggle {
    display: flex;
  }
  .nav-links a {
    font-size: 17px;
  }
  .hero-buttons {
    right: 58%;
    bottom: 65%;
  }
  .hr-btn {
    padding: 5px 25px;
  }
  .charter-section {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .charter-img img {
    width: 130%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    right: 30px;
  }
  .charter-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .charter-content p {
    text-align: justify;
    width: 100%;
    color: #707070;
  }

  .charter-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .yacht-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .purchase-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .purchase-img img {
    width: 130%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    right: 30px;
  }
  .purchase-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .purchase-content p {
    text-align: justify;
    width: 100%;
    color: #707070;
  }

  .purchase-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .crew-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .crew-img img {
    width: 130%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    right: 30px;
  }
  .crew-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .crew-content p {
    text-align: justify;
    width: 100%;
    color: #707070;
  }

  .crew-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .about-us-section {
    margin-top: 100px;
  }
  .aboutus-img img {
    width: 100%;
    position: absolute;
  }

  .aboutus-content {
    text-align: center;
    background-color: #fff;
    width: 60% !important;
    position: relative;
    top: 423px;
    padding: 80px;
  }
  .aboutus-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .aboutus-content p {
    color: #707070;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .hero-buttons {
    right: 58%;
    bottom: 60%;
  }
  .hr-btn {
    padding: 5px 25px;
  }
  .charter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .charter-img img {
    width: 100%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
  }
  .charter-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .charter-content p {
    text-align: justify;
    width: 100%;
    color: #707070;
  }

  .charter-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .yacht-container {
    grid-template-columns: 1fr;
  }
  .purchase-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .purchase-img img {
    width: 100%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
  }
  .purchase-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .purchase-content p {
    text-align: justify;
    width: 100%;
    color: #707070;
  }

  .purchase-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .crew-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .crew-img img {
    width: 100%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
  }
  .crew-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .crew-content p {
    text-align: justify;
    width: 100%;
    color: #707070;
  }

  .crew-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .about-us-section {
    margin-top: 100px;
  }
  .aboutus-img img {
    width: 100%;
    position: absolute;
  }

  .aboutus-content {
    text-align: center;
    background-color: #fff;
    width: 100% !important;
    top: 240px;
    padding: 80px;
  }
  .aboutus-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .aboutus-content p {
    color: #707070;
    line-height: 50px;
    width: 100% !important;
  }
  .footer {
    margin-top: 300px;
  }
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .hero-buttons {
    right: 44%;
    bottom: 40%;
  }
  .hr-btn {
    padding: 5px 10px;
  }
  .charter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .charter-img img {
    width: 100%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    left: 0;
  }
  .charter-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .charter-content p {
    text-align: justify;
    width: 280px;
    color: #707070;
  }

  .charter-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .search-box {
    width: 90%;
  }
  .yacht-card {
    width: 265%;
  }
  .purchase-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .purchase-img img {
    width: 100%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    left: 0;
  }
  .purchase-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .purchase-content p {
    text-align: justify;
    width: 280px;
    color: #707070;
  }

  .purchase-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .crew-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .crew-img img {
    width: 100%;
    height: 300px;
    z-index: 1;
    position: relative;
    top: -45px;
    left: 0;
  }
  .crew-content {
    background-color: #f5f5f5;
    width: 100%;
  }
  .crew-content p {
    text-align: justify;
    width: 285px;
    color: #707070;
  }

  .crew-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .about-us-section {
    margin-top: 100px;
  }
  .aboutus-img img {
    width: 100%;
    position: absolute;

    border-radius: 130px;
  }

  .aboutus-content {
    text-align: center;
    background-color: #fff;
    width: 100% !important;
    top: 185px;
    padding: 80px;
  }
  .aboutus-content h2 {
    color: #222b56;
    font-weight: 700;
  }
  .aboutus-content p {
    color: #707070;
    line-height: 50px;
    width: 100% !important;
  }
  .footer {
    margin-top: 200px;
  }
}
