* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
  background: #235e8d;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 60px;
  width: 100px;
}

.logo h1 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #a8dfff;
}

/* Nav links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: #eaf6ff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}
.navbar a.active::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 0;
  width: 115%;
  height: 3px;
  background-color: #00bfff;
  border-radius: 2px;
}
.nav-links .active {
  color: #00bfff;
}

.nav-links a:hover {
  color: #00bfff;
  transition: all 0.3s ease;
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  right: 20px;
}
/* herosection */
.hero-section {
  width: 100%;
  overflow-x: hidden;
}
.hero-section img {
  width: 100%;
  object-fit: none;
  height: 500px;
}
.hero-img {
  position: relative;
}
.hero-buttons {
  position: absolute;
  bottom: 100px;
  right: 55%;
  gap: 20px;
  display: flex;
  height: 50px;
  width: 200px;
}
.hr-btn {
  border: 2px white solid;
  color: white;
  padding: 10px 30px;
  background-color: transparent;
  font-weight: 700;
}
.hr-btn:hover {
  border: 2px white solid;
  background-color: white;
  color: #00a9f3;
  transition: all 0.3s ease;
}

.charter-section {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
.charter-img img {
  width: 100vh;
  height: 50vh;
  z-index: 1;
  position: relative;
  top: 50px;
}
.charter-content {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px;
}
.charter-content p {
  text-align: justify;
  width: 400px;
  color: #707070;
}

.charter-content h2 {
  color: #222b56;
  font-weight: 700;
}
.feature-listings {
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  margin-top: 100px;
}
.feature-listings h2 {
  color: #222b56;
  font-weight: 700;
}
.feature-listings p {
  color: #707070;
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search-box input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 2px solid #222b56;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #222b56;
}

.search-box input::placeholder {
  color: #b0b0b0;
}

.search-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #222b56;
  font-size: 16px;
  pointer-events: none;
}
.yacht-section {
  background: #fff;
  text-align: center;
  margin-top: 100px;
}

.yacht-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-items: center;
  margin: 120px;
}

.yacht-card {
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s forwards;
}

.yacht-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.yacht-card img {
  width: 100%;
  height: 200px;
  object-fit: none;
}

.yacht-info {
  padding: 15px;
}

.yacht-info h3 {
  font-size: 16px;
  color: #0b1443;
  font-weight: 700;
  margin-bottom: 8px;
}

.yacht-info p {
  color: #555;
  font-size: 14px;
}

.buy-btn {
  background: transparent;
  border: 2px solid #0b1443;
  color: #0b1443;
  padding: 10px 35px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease;
}

.buy-btn:hover {
  border: 2px solid white;
  color: #222b56;
}

/* Animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.purchase-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
.purchase-img img {
  width: 100vh;
  height: 50vh;
  z-index: 1;
  position: relative;
  top: 50px;
}
.purchase-content {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px;
}
.purchase-content p {
  text-align: justify;
  width: 400px;
  color: #707070;
}

.purchase-content h2 {
  color: #222b56;
  font-weight: 700;
}
.crew-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
.crew-img img {
  width: 100vh;
  height: 50vh;
  z-index: 1;
  position: relative;
  top: 50px;
}
.crew-content {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px;
}
.crew-content p {
  text-align: justify;
  width: 400px;
  color: #707070;
}

.crew-content h2 {
  color: #222b56;
  font-weight: 700;
}
.about-us-section {
  margin-top: 100px;
}
.aboutus-img img {
  width: 100%;
  position: absolute;
}

.aboutus-content {
  text-align: center;
  background-color: #fff;
  width: 60% !important;
  position: relative;
  top: 423px;
  padding: 80px;
}
.aboutus-content h2 {
  color: #222b56;
  font-weight: 700;
}
.aboutus-content p {
  color: #707070;
  line-height: 50px;
}
.footer {
  margin-top: 500px;
  border-top: 1px solid #707070;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  color: #707070;
  margin-top: 20px;
}
